
.column1 {
    /*height: 300px;*/
    align-items: center;
    width: 100%;
    /*max-width: 276px;*/
    display: inline-block;
    vertical-align: baseline;
    margin-top: 16px;
    padding: 16px;
}

.column2 {
    /*height: 300px;*/
    align-items: center;
    width: 100%;
    max-width: 276px;
    display: inline-block;
    vertical-align: baseline;
    margin-top: 16px;
}

.header1 {
    color: red;
    font-size: 38px;
    margin-top: 16px;
    margin-bottom: 0;
}

.header2 {
    color: #0e3192;
    font-size: 24px;
    margin: 0;
}

#sponsor-text {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 16px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #0e3192;
    font-weight: 600;
}

#info {
    color: #000000;
    font-size: 8px;
    padding: 0 16px;
}

#text {
    padding: 16px;
}

#main {
    max-width: 600px;
    min-height: 350px;
}

.bg {
    background-image: url("https://raw.githubusercontent.com/Timur00Kh/bahetle-italy-mailing/main/resourses/images/bg2.jpg");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

.capital {
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.17em;
}